/*
Benjamin Onken
VFW 1209
Project Style Sheet for additem.html
*/

body{
	background-image:url('images/scuba.jpg'); 
	background-repeat:no-repeat;
	background-position: center;
}

body header{
	padding: 0;
	margin: 0;
	background: -webkit-linear-gradient(top, #666666 1%, #000000 50%, #666666 99%);
}

h1{
	font-family: Helvetica;
	font-size: 20px;
	text-align: center;
	color: #ffffff;
	text-shadow:
	-1px -1px 0 #000000,
	1px -1px 0 #000000,
	-1px 1px 0 #000000,
	1px 1px 0 #000000;	
	margin: 0;
	padding: 0; 
}

fieldset{
    position: relative;
    border: 0;
}

legend{
	text-shadow:
	-1px -1px 0 #000000,
	1px -1px 0 #000000,
	-1px 1px 0 #000000,
	1px 1px 0 #000000;
	color: red;
	text-align: center;
}

ul {
    list-style: none;
    padding: 0; 
}

li {
    margin-bottom: 10px;
}

#list li {
    list-style: none;
    width: auto;
    display: block;
    background-color: #cccccc;
    border: 1px solid #000000;
    text-align: center;
}

#date{
	text-align: center;
	font-family: helvetica;
}

#diveLocation{
	font-family: helvetica;
}

#notes{
	font-family: helvetica;
}

#history{
	color:green;
	font-size: 18;
	text-shadow:
	-1px -1px 0 #000000,
	1px -1px 0 #000000,
	-1px 1px 0 #000000,
	1px 1px 0 #000000;
}

#clear{
	color:red;
	font-size: 18;
	text-shadow:
	-1px -1px 0 #000000,
	1px -1px 0 #000000,
	-1px 1px 0 #000000,
	1px 1px 0 #000000;
}

#submit{
	position: center;
	text-align: center;
}

#addNew{
	display: none;
	color:green;
	font-size: 18;
	text-shadow:
	-1px -1px 0 #000000,
	1px -1px 0 #000000,
	-1px 1px 0 #000000,
	1px 1px 0 #000000;

}








