
/*
Benjamin Onken
VFW 1209
Project Style Sheet for index.html
*/

body{
	background-image:url('images/scuba.jpg'); 
	background-repeat:no-repeat;
	background-position: center;
}

body header{
	padding: 0;
	margin: 0;
	background: -webkit-linear-gradient(top, #666666 1%, #000000 50%, #666666 99%);
}

h1{
	font-family: Helvetica;
	font-size: 20px;
	text-align: center;
	color: #ffffff;
	text-shadow:
	-1px -1px 0 #000000,
	1px -1px 0 #000000,
	-1px 1px 0 #000000,
	1px 1px 0 #000000;	
	margin: 0;
	padding: 0; 
}

p{
	color: #ffffff;
	text-shadow:
	-1px -1px 0 #000000,
	1px -1px 0 #000000,
	-1px 1px 0 #000000,
	1px 1px 0 #000000;
	text-align: center;
}

h2{
	text-align: center;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: -webkit-linear-gradient(top, #ff9900 1%, #ff6600 50%, #ff9900 99%);
}

a:link{color:blue;}
a:visited{color:purple;}
a:hover{color:#ee0000;}
a:active{color:yellow;}
h2:active{background-color:#000000;}

